body , #root{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  flex-direction: column;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 10%;
}

main{
  height: 90%;
  width: 90%;
  flex-direction: column;
}
