body , #root{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

main {
  position: relative;
  z-index: 2;
  color: #c6c6c6;
  letter-spacing: 2px;
  display: flex
;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 65%;
  aspect-ratio: 1.3 / 1;
  backdrop-filter: blur(5px);
  border-radius: 1em;
}

img.img {
  height: 50%;
}

input[type="file"] {
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

main:hover , main:has(.filename) {
  box-shadow: inset 0 0 4px white;
  transition-duration: 0.5s;
  backdrop-filter: sepia(1);
}
