*{
  margin: 0;
  padding: 0;
  font-family: "Inter";
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #C3CFE2, #e4ecf7);
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
#root{
  height: 100%;
  width: 100%;
}
.scrollContainer {
  height: 100vh;
  overflow-y: scroll;
}

.homePage,
.productsPage {
  height: 100vh;
}

::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
  color:black;
}
