.mainDiv{
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-image: linear-gradient(to right , #E1E1E3 24% , #ECECEC 82%);
}

header.flex , .middleDiv {
    position: relative;
}

.imgage {
    height: 100%;
    z-index: 0;
    position: absolute;
}

.flex{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.middleDiv {
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
}

.middleDiv::-webkit-scrollbar{
    display: none;
}

.card {
    flex: 1 1 calc(100% / 3);
    margin: 2% 0;
}

#setCard{
    width: 60%;
    transition-duration: 1s;
}
#setMainCard {
    width: 40%;
    opacity: 1;
    transition-duration: 1s;
    height: 80%;
    position: sticky;
    top: 10%;
}
#hideCard{
    transition-duration: 1s;
    width: 100%;
}
#hideMainCard{
    width:  0%;
    height: 0%;
    transition-duration: 1s;
}

.sectionMainCard{
    height: 0;
    width: 0;
    opacity: 0;
}
.sectionCard {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex
;
    height: 100%;
}

.cardContent.flex {
    width: 12em;
    aspect-ratio: 1.2 / 1;
    border-radius: 1em;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 1em 0;
    backdrop-filter: blur(2px);
    background: #ffffff2e;
    cursor: pointer;
}
.cardContent.flex:hover {
    box-shadow: 6px 6px 4px rgb(0 0 0 / 25%), inset 4px 4px 4px rgb(0 0 0 / 25%);
    transition: box-shadow 0.2s ease-in-out;
}

span.heading.cardInfo {
    font-size: larger;
    font-weight: 500;
}
.cardInfo {
    font-size: medium;
}

/* Main Card Setting */

.maincard.flex {
    height: 80%;
    width: 75%;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: larger;
    text-shadow: 3px 3px 3px rgb(0 0 0 / 25%);
    border: 1px solid rgb(0 0 0 / 25%);
    border-radius: 1.5em;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%), inset 4px 4px 4px rgb(0 0 0 / 25%);
    color: #4C4C4C;
    position: relative;
}

.main {
    width: 75%;
    text-align: center;
}

.main.mainName {
    font-size: x-large;
}

.main.mainDescription {
    text-align: left;
}

.cross {
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    right: 1em;
    color: #4c4c4c;
}

#hide{
    display: none;
}
#show{
    display: block;
}