.mainDiv{
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-image: linear-gradient(to right , #E1E1E3 24% , #ECECEC 82%);
}

header.flex , .middleDiv {
    position: relative;
}

.imgage {
    height: 100%;
    z-index: 0;
    position: absolute;
}

.flex{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.middleDiv {
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 calc(100% / 3);
}
#setCard{
    opacity: 1;
    transition-duration: 1s;
    width: 60%;
}
#setMainCard{
    transition-duration: 1s;
    width: 40%;
    opacity: 1;
    height: 100%;
}
#hideCard{
    transition-duration: 1s;
    width: 100%;
    opacity: 1;
}
#hideMainCard{
    transition-duration: 1s;
    opacity: 0;
    width: 0%;
    height: 0%;
}

.sectionMainCard{
    height: 0;
    width: 0;
    opacity: 0;
}
.sectionCard {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex
;
    height: 100%;
}

.cardContent.flex {
    width: 12em;
    aspect-ratio: 1.2 / 1;
    border-radius: 1em;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 1em 0;
    backdrop-filter: blur(2px);
    background: #ffffff2e;
    cursor: pointer;
}
.cardContent.flex:hover {
    box-shadow: 6px 6px 4px rgb(0 0 0 / 25%), inset 4px 4px 4px rgb(0 0 0 / 25%);
    transition: box-shadow 0.2s ease-in-out;
}

span.heading.cardInfo {
    font-size: larger;
    font-weight: 500;
}
.cardInfo {
    font-size: medium;
}

