*{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 10%;
}

nav.flex {
    justify-content: space-evenly;
    width: 75%;
}

.searchBox {
    width: 30%;
    background: white;
    box-sizing: border-box;
    padding: 0 1em;
    border-radius: 10px;
}

input.searchInput {
    width: 100%;
    border: navajowhite;
    outline: none;
    padding: 1em;
}